.header{text-align: center;}
h1{
	color:green;
	font-size:3vw;
}
.toplist{
	background-color:#99B080;
	list-style-type: none;
	margin: 0;
	padding:10px;
	overflow: hidden;
	opacity: 0.8;

}
li a{
	text-decoration: none;
	color:black ;
	font-size: 25px;
}

li a:hover{
	color:#748E63;
	background-color:#A7D397;}

.active{
	background-color:#DADDB1;}

li a{
	float: left;
	padding: 20px 40px;}

p{
	font-size: 1.5vw;
	letter-spacing: 2px;
}

.thumbnail { 
top:-50px; 
left:-35px; 
display:inline; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.1s; 
-webkit-transition-timing-function: ease;
padding-inline:100px;
margin: 10px 10px; 
} 

.thumbnail:hover { 
transform: scale(3); 


}
.images{
	display:block;
	margin-left: auto;
	margin-right: auto;

}
[type="text"],[type="email"],
[type="password"],[type="number"]{
	width: 100%;
	background-color:#F1EB90;
	padding: 8px 15px;
	color: black;
}
button{
	width:40%;
	background-color:#EC8F5E;
	color: black;
	border: none;
	padding: 8px 15px;
	margin-top:10px ;
	border-radius: 5px;
}
.MyLabel{
	width:50%;
	background-color:;
	padding: 8px 15px;
	color: black;
}
[type="radio"]{
	width: 10%;
	display: block;
}
.result{
	color:red;
	
}
[type="submit"]{
	width:40%;
	background-color:#EC8F5E;
	color: black;
	border: none;
	padding: 8px 15px;
	margin-top:10px ;
	border-radius: 5px;
	display: inline;
}
#myImg1 {
    background: url("alternative1.jpeg") no-repeat;
    height: 200px;
    width:initial;
}

#myImg1:hover {
    background: url("alternative2.jpeg") no-repeat;
}
#myImg2 {
    background: url("runway1.jpeg") no-repeat;
    height: 200px;
    width: initial;
}

#myImg2:hover {
    background: url("runway.jpeg") no-repeat;
}
#myImg3 {
    background: url("commercial1.jpeg") no-repeat;
    height:200px;
    width: initial;
}

#myImg3:hover {
    background: url("commercial2.jpeg") no-repeat;
}
.images{
	display: block;
	margin-left: 500px;
	margin-right:500px ;
}
.myTable{
	border-color: white;
	border-style: solid;
	font-size: 1.5vw;
	align-content: center;
	opacity: 0.8;
}
